<div class="status">{{ statusMessage }}</div>
<div class="board">
  <div
    *ngFor="let row of board; let rowIndex = index"
    class="board-row"
  >
    <div
      *ngFor="let square of row; let colIndex = index"
      class="square"
      [class.dark]="(rowIndex + colIndex) % 2 === 1"
      [class.selected]="
        selectedSquare === coordsToSquare(rowIndex, colIndex)
      "
      (click)="onSquareClick(rowIndex, colIndex)"
    >
      {{ getPieceUnicode(square) }}
    </div>
  </div>
</div>
<button (click)="resetGame()">Reset Game</button>
